@model AppointmentScheduling.ViewModel.VMMassages
@using AppointmentScheduling.Models
@{
    ViewBag.Title = "ShowNotification";
}

<h2>ShowNotification</h2>

<br />
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <td>  שולח  </td>
        <td>תאריך </td>
        <td>הודעה </td>

    </tr>
    @foreach (Massage obj in Model.Massages)
    {
        <tr>
            <td>@obj.SenderUserName </td>
            <td>@obj.date </td>
            <td>@obj.msg </td>
    </tr>
}
</table >
<div class="form-horizontal">
    <div class="col-sm-offset-8">
        <button id="" class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action("")'">הודעות שנשלחו</button>
        <button id="" class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action("")'">הודעה חדשה</button>

    </div>
</div>


