@model AppointmentScheduling.ViewModel.ReferralViewModel
@using AppointmentScheduling.Models
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Doctor's Referral</title>
</head>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<body>
    <h3 style="color:hotpink">Add New Doctor's Referral</h3>
    <div>
        <form id="frmmAdd">
            <i style="color:red">@TempData["error"]</i><br />
            <table>
                <tr>
                    <td>Patient Id: </td>
                    <td>@Html.TextBoxFor(m => m.Referral.PatientID) @Html.ValidationMessageFor(x => x.Referral.PatientID)</td>
                </tr>
                <tr>
                    <td>Referral Issue Date: </td>
                    <td>@Html.TextBoxFor(m => m.Referral.IssueDate) @Html.ValidationMessageFor(x => x.Referral.IssueDate)</td>
                </tr>
                <tr>
                    <td>Referral Expiration Date: </td>
                    <td>@Html.TextBoxFor(m => m.Referral.ExpDate) @Html.ValidationMessageFor(x => x.Referral.ExpDate)</td>
                </tr>
                <tr>
                    <td>Referral Code: </td>
                    <td>@Html.TextBoxFor(m => m.Referral.ReferralCode) @Html.ValidationMessageFor(x => x.Referral.ReferralCode)</td>
                </tr>
                <tr>
                    <td>Doctor's License: </td>
                    <td>@Html.TextBoxFor(m => m.Referral.DoctorLicense) @Html.ValidationMessageFor(x => x.Referral.DoctorLicense)</td>
                </tr>


                <tr>
                    <td><input id="btnSubmit" type="button" onclick="SendReferralData()" value="Add Doctor Referral" /></td>
                </tr>
            </table>
        </form>


    </div>
    <br />
    @*@Html.Partial("DisplayReferrals", Model)*@
    <b>Existing Referrals:</b>
    <div style="color:red" id="status"></div>
    <table id="referralTable">
        <tr>
            <td>Patient Id</td>
            <td>Referral Issue Date</td>
            <td>Referral Expiration Date</td>
            <td>Referral Code</td>
            <td>Doctor's License</td>
        </tr>
    </table>

    <script>
        $("#status").text("Loading Referrals.....Please Wait");
        $.get("GetReferralsByJson", null, BindData);//null beacause we dont want to send anything to the server
        function BindData(Referrals) {
            $("#empTable").find("tr:gt(0)").remove();
            var tbl = $("#empTable");
            for (k = 0; k < Referrals.length; k++) {
                var newRow = "<tr>" +
                    "<td>" + Referrals[k].PatientID + "</td>" +
                    "<td>" + Referrals[k].IssueDate + "</td>" +
                    "<td>" + Referrals[k].ExpDate + "</td>" +
                    "<td>" + Referrals[k].ReferralCode + "</td>" +
                    "<td>" + Referrals[k].DoctorLicense + "</td>" +
                    "</tr>";
                tbl.append(newRow);
            }

            $("#status").text("");

        }

        function SendReferralData() {
            var frmmData = $("#frmmAdd").serialize();//step 1+2
            $("#status").text("Saving Referral.....Please Wait");
            $.post("SubmitReferral", frmmData, BindData);
            $("#Referral_PatientID").val("");
            $("#Referral_IssueDate").val("");
            $("#Referral_ExpDate").val("");
            $("#Referral_ReferralCode").val("");
            $("#Referral_DoctorLicense").val("");
            $("#status").text("");
        }
    </script>
    <br />
    @Html.ActionLink("Go Back To Home Page", "Index", "Home")
</body>
</html>