@using AppointmentScheduling.Models
@{
    ViewBag.Title = "PatientPage";
}

<h2>PatientPage</h2>
<h4>Hello @(((User)(Session["CurrentUser"])).UserName)</h4>

<div class="row">
    <div class="col-sm-offset-8">
        <button  class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action("AppointmentScheduling")'">הזמן תור</button>
        <button  class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action("YourAppointments")'">צפה בתורים עתידיים</button>
        <button  class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action()'">צפה בהפניות</button>
        <button  class="btn btn-primary btn-block btn-lg" type="button" onclick="location.href='@Url.Action()'">צפה במרשמים</button>


    </div>
</div>